<h1>予約内容</h1>
<table class="show-table">
<tr>
  <th>名前</th>
  <td><%= @rent.product.name %></td>
</tr>

<tr>
  <th>画像</th>
  <td>
    <% if @rent.product.image.attached? %>
      <%= image_tag @rent.product.image, size: '50x50' %>
    <% else %>
      <%= image_tag @rent.asset_path('default.png'), size: '50x50' %>
    <% end %>
  </td>
</tr>

<tr>
  <th>開始日</th>
  <td><%= @rent.start_date %></td>
</tr>

<tr>
  <th>終了日</th>
  <td><%= @rent.end_date %></td>
</tr>

<tr>
  <th>予約した日にち</th>
  <td><%= @rent.created_at %></td>
</tr>
<p>--------------------------------------------------</p>
</table>